@using Neon.Blazor;

<IntersectionObserver RootMargin="-0px" OnIntersectionChanged="OnIntersectionChanged">
    <div class="@("w-96 inline-block p-8 rounded-lg text-center text-slate-200 text-2xl uppercase " + css)">
        <p>@text</p>
    </div>
</IntersectionObserver>

@code
{
    private string text = "";
    private string css = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    public void OnIntersectionChanged(IntersectionChangedEventArgs args)
    {
        if (args.IsIntersecting)
        {
            text = "visible";
            css = "bg-green-600";
        }
        else
        {
            text = "invisible";
            css = "bg-red-600";
        }
        StateHasChanged();
    }

    public void Dispose()
    {
    }
}