@using Neon.Blazor;

<div class="h-96 inline-block">
<p>@(IntersectionObserver.IsIntersecting ? "visible" : "invisible")</p>
</div>

@code {
    [CascadingParameter]
    public IntersectionObserver IntersectionObserver { get; set; }

    private bool visible { get; set; } = false;

    protected override void OnInitialized()
    {
        IntersectionObserver.IntersectionChanged += StateHasChanged;
        base.OnInitialized();
    }

    public void Dispose()
    {
        IntersectionObserver.IntersectionChanged -= StateHasChanged;
    }
}